<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="brand-logo">آخرین نگهبان</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="me-2">🏠</span>خانه
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/school">
                        <span class="me-2">📚</span>مدرسه
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/games">
                        <span class="me-2">🎮</span>بازی‌ها
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/store">
                        <span class="me-2">🛍️</span>فروشگاه
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/profile">
                        <span class="me-2">👤</span>پروفایل
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

